scripts
build
configurator/build
.vscode
lz4
CMakeFiles
ProgramRelease
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build
.vs
CMakeSettings.json
.gitignore
tests/path_test/CTestTestfile.cmake
tests/path_test/cmake_install.cmake
tests/patcher_test/Makefile
tests/path_test/Makefile
tests/patcher_test/CTestTestfile.cmake
tests/patcher_test/cmake_install.cmake
tests/json_test/Makefile
tests/json_test/CTestTestfile.cmake
tests/json_test/cmake_install.cmake
tests/archiver_test/Makefile
tests/archiver_test/CTestTestfile.cmake
tests/archiver_test/cmake_install.cmake
archiver/Makefile
1
test.diff
